priority -45

snippet py2 "#!/usr/bin/python2" bA
#!/usr/bin/env python2
# -*- coding: utf-8 -*-
${0}
endsnippet

snippet py3 "#!/usr/bin/python3" bA
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
${0}
endsnippet

# vim: set ts=4 sw=4 tw=82 fdm=syntax noet :
